<manifest
    package="com.prt2121.camfound"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:theme="@style/CamFoundAppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".CamActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>
